<div [style.width]="'1000px'" fxLayout="column" fxFlex="100" fxFlexFill fxLayoutAlign="space-between center">
  <div fxLayout="row wrap" fxFlex="100" fxFlexFill fxLayoutAlign="space-between center">
    <mat-form-field appearance="outline" [style.margin-top]="'10px'" [style.width]="'25%'">
      <mat-label>Busca</mat-label>
      <input matInput  placeholder="Efetue a sua busca" disabled>
    </mat-form-field>

    <button (click)="openDialog()" mat-mini-fab matTooltip="Incluir Secretaria" color="primary" aria-label="Incluir Secretaria">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div fxLayout="column" fxFlex="100" fxFlexFill>
    <mat-table #table [dataSource]="secretarias" matSort [trackBy]="trackByUid" class="animate">

      <ng-container matColumnDef="secName">
        <mat-header-cell fxFlex="70" *matHeaderCellDef mat-sort-header> Secretaria </mat-header-cell>
        <mat-cell fxFlex="70" *matCellDef="let secretary"> {{ secretary.secName }} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="secAbreviation">
        <mat-header-cell fxFlex="20" *matHeaderCellDef mat-sort-header> Abreviação </mat-header-cell>
        <mat-cell fxFlex="20" *matCellDef="let secretary"> {{ secretary.secAbreviation }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell fxFlex="10" *matHeaderCellDef mat-sort-header> Ações </mat-header-cell>
        <mat-cell fxFlex="10" *matCellDef="let secretary">
          <button mat-icon-button aria-label="Editar" (click)="openDialogEdit(secretary)">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button aria-label="Deletar" (click)="deleteSecretary(secretary.secCode)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="animate"></mat-row>
    </mat-table>
  </div>
</div>
