table {
  min-width: 100%;
  width: 100%;
}


:host ::ng-deep .full-table td, th {
  padding-left: 0px !important;
}

:host ::ng-deep .mat-sort-header-content {
  padding-left: 5px;
  line-height: 20px;
}

.actionProjection {
  align-items: center;
}

:host ::ng-deep .mat-row {
  display: flex;
  border-width: 0;
  border-bottom-width: 0px;
  border-style: none;
  align-items: center;
  min-height: auto;
}

:host ::ng-deep .mat-header-row {
  display: flex;
  border-width: 0;
  border-bottom-width: 0px;
  border-style: none;
  align-items: center;
  //background-color: #ffffff;
  min-height: auto;
}

:host ::ng-deep td.mat-cell:first-of-type {
  padding-left: 8px;
}

:host ::ng-deep td.mat-cell {
  min-height: 46px;
  padding-left: 8px !important;
  line-height: 46px;
}

:host ::ng-deep th.mat-header-cell:last-of-type {
  padding-right: 0px;
}

:host ::ng-deep {
  .mat-form-field {
    padding: 15px 0px;
    margin: 0 10px 0 0;
  }
  .mat-header-cell {
    color: #4a4a4a;
    font-weight: 600;
    font-size: 12px;
    min-height: 48px;
    line-height: 48px;
  }
  .mat-cell:last-of-type {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
  }
  .mat-cell {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    font-weight: 400;
  }
  .topButton {
    width: 175px;
    padding: 7px 8px 1px 8px;
    font: 400 14px/20px "bt-r", sans-serif;
    cursor: pointer;
    height: 40px;
    float: left;
    margin-left: 5px;
    color: white;
    cursor: pointer;
    line-height: 1px;
    top: 15px;
  }

  .btnPurple {
    background: #5a1b5a;
    cursor: pointer;
  }

  .btnPurple:hover {
    filter: brightness(1.2);
  }
}

.group-title {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  border-bottom: none;
  color: #4a4a4a;
  font-weight: 600;
  font-size: 14px;
  min-height: 40px;
}

.stoplight {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.titleDataset {
  margin: 10px 0 10px 0;
  font-size: 14px;
  color: #5a1b5a;
  font-weight: 600;
}


.bolder {
  font-weight: 600;
}

.greyRow {
  background-color: #b9b9b9;
}

.orangeRow {
  background-color: rgba(70,0,81,0.2);
}

.redRow {
  background-color: #FC8888;
}

.tooltipInconsistencia {
  background-color: #e8465a;
  padding: 3px;
  font-weight: bold;
  color: #FFF;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-left: calc(50% - 8px) !important;
  cursor: pointer;

}

.badge {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-left: 0;
  background-color: #e8465a;
  padding-left: 1px;
  font-weight: bold;
  color: #FFF;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  margin-left: calc(50% - 11px) !important;
  cursor: pointer;
  margin-top: calc(20% - 8px)!important;
}

::ng-deep .mat-tooltip  {
  white-space: pre-line;
}

.popupTooltip{
  padding: 3px;
  font-weight: bold;
  color: #FFF;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-left: calc(50% - 8px) !important;
  cursor: pointer;
  white-space: pre-line;
}
