.emAndamento {
  color: green;
  font-weight: 500;
}

.naoIniciada {
  color: darkorange;
  font-weight: 500;
}

.atrasada {
  color: red;
  font-weight: 500;
}

.finalizada {
  color: black;
  font-weight: 500;
}

.alta {
  color: red;
  font-weight: 500;
}

.media {
  color: orange;
  font-weight: 500;
}

.baixa {
  color: green;
  font-weight: 500;
}
