<div fxLayoutAlign="center center">
  <h3 *ngIf="!data.secCode">Cadastro de Secretaria</h3>
  <h3 *ngIf="data.secCode">Edição de Secretaria</h3>
</div>
<form [formGroup]="secretaryForm" (ngSubmit)="onSubmit()">
  <div fxLayout="row wrap" fxFlex="100" fxFlexFill fxLayoutAlign="space-between center">
    <div fxFlex="70" fxFlexFill>
      <mat-form-field appearance="outline" [style.width]="'98%'">
        <mat-label>Secretaria</mat-label>
        <input matInput formControlName="secName" placeholder="Informe o nome da Secretaria" required>
      </mat-form-field>
    </div>
    <div fxFlex="30" fxFlexFill>
      <mat-form-field appearance="outline" [style.width]="'98%'">
        <mat-label>Abreviacao da Secretaria</mat-label>
        <input matInput formControlName="secAbreviation" placeholder="Informe a Abreviacao" required>
      </mat-form-field>
    </div>
    <button mat-dialog-close mat-raised-button>Fechar</button>
    <button type="submit" [mat-dialog-close]="true" mat-raised-button color="primary" [disabled]="!secretaryForm.valid">Salvar</button>
  </div>
</form>
